.banner { 
	background-image: url('../Images/4.png');
	height: 75vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner h1	{
	color: white;
	text-shadow: black;
}

.banner h2 {
	color: white;
	text-shadow: black;
}
